*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f2f2f2;
}

nav {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

main {
    padding: 20px;
    height: 100vh;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

footer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
}

a{
    color: #007bff;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color : #0069d9;
}

button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #ccc;
}

th, td{
    text-align: left;
    padding: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20%;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}   

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20%;
    margin-bottom: 10px;
}

select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

.center{
    text-align: center;
}

#retour{
    margin-top: 20px;
}

.label{
    font-weight: bold;
    margin-bottom: 10px;
}

input[type=submit]{
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0069d9;
}